body{
	font-family: 'Recursive', sans-serif;
		background-color:#fff;
		color: #150542;
}


#t{

color: #fff;
}
#b{
	background-color:#150342;
}

h4 {
	border-right: solid 3px rgba(0,255,0,.75);
	white-space: nowrap;
	overflow: hidden;    
	font-family: 'Source Code Pro', monospace;  
	font-size: 28px;
	margin: 0 auto;
  }
  
  /* Animation */
  h4 {
	animation: animated-text 4s steps(20,end) 1s 1 normal both,
			   animated-cursor 500ms steps(10,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
	from{width: 0;}
	to{width: 350px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
	from{border-right-color: rgba(0,255,0,.75);}
	to{border-right-color: transparent;}
  }